.parent-box {  
    display: flex; /* 使用Flexbox布局 */  
    justify-content: space-between; /* 子元素之间的空间平均分布 */  
    width:900px; /* 设置父盒子的宽度 */  
    
    position: relative;
    top: 150px;
    margin: auto;
    height: 350px;
    background-color: #f9f9f9;
}  
  
.child-box {  
    flex-basis: 50%; /* 子盒子的基础宽度设置为50%，确保它们等分 */  
   
    padding: 20px; /* 添加内边距 */  
    box-sizing: border-box; /* 确保边框和内边距包含在宽度内 */  
   /* margin: 50px 80px; */
   margin:20px;
   background-color: rgb(181, 233, 255);
   /* margin-left: 30px; */
}